#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

.header-left{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  align-items: center;
  gap:1rem;
}


.header{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:14rem;
  /* outline:1px solid; */
}

.header-right{
  /* align-items: right; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  place-items: center;
}

.image img{
  width:270px;
}

.problem{
  display:grid;
  grid-template-columns:1fr 1fr   ;
}